/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer{
    background: none;
    height: 320px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);  
    width: 250px;
}

.card-grid {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
    grid-auto-flow: dense;
  }

.grid-item {
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    /* Flexbox plus grid... results in a slight improvement. */
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item:first-child {
    margin: 0;
}

  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  .thecard{
    border-radius: 10px;
    height: 60%;
    left: 0;
    position: relative;
    top: 0;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    width: 80%; /*EXTREMELY IMPORTANT*/
}
  
  
.submit {
    background-image: url("");
}

  /* THE PSEUDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover{
    transform: rotateY(180deg);
}

  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.thefront {
    /* background-image: linear-gradient(to bottom right, #000000, rgb(228, 3, 89)); */
    backface-visibility: hidden;
    border-radius: 10px;
    color: #ffc728;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    background: inherit;
    box-shadow: inset 0 0 0 3000px rgba(92, 92, 92, 0.363);
    filter: blur(1px);
    transition: 1s;
}

.thefront:hover {
    box-shadow: inset 0 0 0 3000px rgba(15, 15, 15, 0.363);
    filter: blur(0px);
    transition: 1s;
}

.thefrontstatic {
    background-image: linear-gradient(to bottom right, #000000, rgb(48, 68, 246));
    backface-visibility: hidden;
    border-radius: 10px;
    color: #ffc728;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
  
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
    backface-visibility: hidden;
    background-image: linear-gradient(to bottom right, #ff00ff, purple);
    border-radius: 10px;
    color: white;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    transform: rotateY(180deg);
    width: 100%;
}
  
  /*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h1, .theback h1{
    font-size: 24px;
    font-weight: bold;
    padding: 30px;
    text-align: center;
}
  
.thefront p, .theback p{
    font-size: 12px;
    font-weight: normal;
    padding: 30px;
    text-align: center;
}

            /* This is the flip card container: */
.holdingContainer { 
    background: #ffc728;
    box-sizing: border-box;
    display: flex;
    padding: 50px;
    width: 100;
}
            /* This is the left internal flip card container: */
.internalContainerL {
    background: red;
    flex: 1;
    font-size: 12px;
    padding: 30px;
}

            /* This is the right internal flip card container: */
.internalContainerR {
    background: cyan;
    flex: 1;
    font-family: 'Robot', sans-serif;
    font-size: 12px;
    padding: 30px;
}

.the-static-card {
    border-radius: 10px;
    height: 60%;
    left: 0;
    position: relative;
    top: 0;
    width: 80%; /*EXTREMELY IMPORTANT*/
}

#static-front {
    background-color: #000000;
}