@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.line-1, .line-2, .line-3 {
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}




*{
    font-family: 'Source Code Pro', sans-serif;
}

body {
    min-height: 100%;
    min-width: 1024px;

    background-image: url("Images/handheld\ circuitry2.jpg");
    background-color: #cccccc;
    background: cover;
    background-position: center center;
}

button {
    background-color: #ffc728;
    border: none;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: 4s;
  }

button:hover{
    background: blue;
    color: fuchsia;
    transition: 2s;
}

.contact-container {
        /* Non-grid stuff */
    background: white;
    border-radius: 15px;
    color: darkolivegreen;
    max-width: 110px;
    width: 90%;
    /* Grid stuff */
    align-items: center;
    justify-items: center;
    display: grid;
    grid-gap: 10px 10px; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows:    1fr 1fr;
    margin: 2rem auto 2rem auto;
    transition: 3s; /* Both this class and the .contact-container:hover have transitions. This is deliberate to allow for transitions both when you hover over and move the cursor away from this thing.*/
}

.contact-container:hover {
    background: none;
    filter: invert(1);
    transition: 3s;
}

.copyright {
    background: black;
    display: flex;
    flex-direction: row-reverse;
}


header {
    text-align: center;
}

html {
    --dark-yellow:  #A3A380;
    --dark:        #345;
    color: var(--dark-yellow);
    font: 50px/1
    line-height: 1.5;
    min-height: 100%;
}

.intro-in-three-points {
    background: black;
    color: #ffc728;
    display: flex;
    flex-direction: row-reverse;
}

.left-menu {
    grid-column: 1;
    align-self: center;
}

.left-menu a {
    padding: 10px 0;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
}




.logo {
    font-size: 40px;
    padding: 1rem;
    transition: 3s;
}

nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin: 0 auto;
    max-width: 1720px;
}

nav a {
    color: #ffc728;
    text-decoration: none;
    transition: .3s all ease-in-out;
}

nav a:hover {
    opacity: .8;
    color: fuchsia;
    transition: 2s;
}

.nav-container {
    width: 100%;
    background: black;
}

.octocat {
    vertical-align: sub;
}

.pic-of-codewars {
    border-radius: 15px;
}
.pic-of-hospital-defender {
    border-radius: 15px;
}

.pic-of-pet-shelter {
    border-radius: 15px;
}


ul {
    list-style-type: none;
}

/* Flip Cards! */
/* Clip Fards! */

.cardGrid {
    display: grid;
    grid-gap: 15px 20px;
    grid-column: 1;
    margin: 2rem auto;
    width: 1000px;
  }

.gridItem {
    margin-left: 5px;
    padding: 11px;
}

.gridItem:first-child {
    margin: 0;
}







/* THE MAINCONTAINER HOLDS EVERYTHING */
.maincontainer{
    background: none;
    height: 320px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);  
    width: 250px;
}
  
  /* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
    border-radius: 10px;
    height: 60%;
    left: 0;
    position: relative;
    top: 0;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    width: 25%;
}
  
  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover{
    transform: rotateY(180deg);
}
  
  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.thefront {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #cc8800, #ffcc66);
    color: #000;
}
  
  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #ff00ff, purple);
    color: white;
    text-align: center;
    transform: rotateY(180deg);
}
  
  /*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h1, .theback h1{
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
  
.thefront p, .theback p{
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

            /* This is the flip card container: */
.holdingContainer { 
    display: flex;
    width: 100;
    background: #ffc728;
    padding: 50px;
    box-sizing: border-box;
}
            /* This is the left internal flip card container: */
.internalContainerL {
    background: red;
    flex: 1;
    padding: 30px;
    font-size: 12px;
}

            /* This is the right internal flip card container: */
.internalContainerR {
    background: cyan;
    flex: 1;
    padding: 30px;
font-size: 12px;
font-family: 'Robot', sans-serif;
}


