@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

*{
    font-family: 'Source Code Pro', sans-serif;
}

#about-me {
    color: rgba(255, 235, 205, 0.76);
}

body {
    min-height: 100%;
    min-width: 1024px;

    background-image: url("Images/handheld\ circuitry2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #cccccc;
    background: cover;
    background-position: center center;
}

button {
    background-color: var(--orange);
    border: none;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: 4s;
  }

button:hover{
    background: blue;
    color: fuchsia;
    transition: 2s;
}

.contact-container {
        /* Non-grid stuff */
    background: white;
    border-radius: 28px 0px 25px 0px;
    color: darkolivegreen;
    max-width: 110px;
    width: 90%;
    /* Grid stuff */
    align-items: center;
    justify-items: center;
    display: grid;
    grid-gap: 10px 10px; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows:    1fr 1fr;
    margin: 2rem auto 2rem auto;
    transition: 3s; /* Both this class and the .contact-container:hover have transitions. This is deliberate to allow for transitions both when you hover over and move the cursor away from this thing.*/
}

.contact-container:hover {
    background: none;
    filter: invert(1);
    transition: 3s;
}

.contact-line {
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.copyright {
    background: black;
    display: flex;
    flex-direction: row-reverse;
}

.grid-item_grid-item-upper-right {
    color: gray;
}

header {
    text-align: center;
}

#howzit {
    font-size: 110%;
    color: rgb(168, 167, 167);
    padding: 5%;
}

html {
    --dark-yellow:  #A3A380;
    --dark:        #345;
    color: var(--dark-yellow);
    font: 50px/1;
    line-height: 1.5;
    min-height: 100%;
}

.intro-in-three-points {
    background: black;
    color: var(--orange);
    display: flex;
    justify-content: center;
    position: relative;
    transition: 4s;
}

.intro-in-three-points:hover {
    color: chartreuse;
    transition: 4s;
}

.left-menu {
    align-self: center;
    grid-column: 1;
}

.left-menu a {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-left: 15px;
    padding: 10px 0;
}

.line-1, .line-2, .line-3 {
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    top: 50%;  
    transform: translateY(-50%);    
    white-space: nowrap;
    width: 24em;
}

.logo {
    font-size: 40px;
    padding: 1rem;
    text-align: center;
    transition: 3s;
}

nav a {
    color: var(--orange);
    display: block;
    padding: 0 10px;
    text-decoration: none;
    transition: .3s all ease-in-out;
}

nav a:hover {
    color: fuchsia;
    opacity: .8;
    transition: 2s;
}

.nav-container {
    background: black;
    width: 100%;
}

nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

nav ul li:hover > ul {
    display: inherit;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

nav ul ul li {
    min-width:170px;
    display:list-item;
    position: relative;
}

.octocat {
    vertical-align: sub;
}

.pic-of-codewars {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
.pic-of-hospital-defender {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.pic-of-barley {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.pic-of-pet-shelter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

ul {
    list-style-type: none;
}

:root {
    --orange: #ffc728;
}